body {
    background-color: #EAE4DC;
    background-image: url(/WDDM-115/html/fondorosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'PT Serif', serif;
    color: white;
}

p, pre {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Source Sans 3', sans-serif;
    
}

div {
    display: flex;
    justify-content:center;
}

.img {
    border-top-right-radius: 100px 100px;
    border-top-left-radius: 100px 100px;
    border-bottom-left-radius:100px 100px;
    border-bottom-right-radius: 100px 100px;

}

.caption {
    text-align: center;
    color: black;
    margin-top: 2rem;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: black;
    
}

footer{
    background: white;
    padding: 14px;
    margin-top: 20px;
}
